<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poemai">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoemAI">
        <activity
            android:name=".LaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.PoemAI.Classical">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.PoemAI.Classical" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.PoemAI.Classical" />
        <activity
            android:name=".CardCreateActivity"
            android:theme="@style/Theme.PoemAI.Classical" />
        <activity
            android:name=".CiPaiRecommendActivity"
            android:theme="@style/Theme.PoemAI.Classical" />
        <activity
            android:name=".PoemDisplayActivity"
            android:theme="@style/Theme.PoemAI.Classical" />
        <activity
            android:name=".WorkDisplayActivity"
            android:theme="@style/Theme.PoemAI.Classical" />
        <activity android:name=".PoemComposeActivity" />
    </application>

</manifest>